@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}
body {
    background-color: gray;
    display: grid;
}

h1 {
    font-size: 4rem;
    text-align: center;
}
form {
    margin-top: 3rem;
    place-self: center;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
}
.btn {
    padding: 1rem 2rem;
    font-size: 2rem;
    font-family: inherit;
    margin-top: 3rem;
    background-color: cadetblue;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}
.btn:hover {
    transform: translateY(-3px);
}
.btn:active {
    transform: translateY(-1px);
}

input {
    font-size: inherit;
    font-family: inherit;
}

.container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.container div {
    background-color: aquamarine;
    border-radius: 5px;
}

.container p {
    font-size: 2rem;
    text-align: center;
}
a {
    font-size: 2rem;
    place-self: center;
    text-decoration: none;
    color: inherit;
    padding: 1rem 2rem;
}
a:hover {
    color: darkslategray;
}
